.btn {
    background-color: #3498db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin:5px;
    border: solid 1px #2f87bd;
    text-decoration: none;
}

.btn:hover {
    background-color: #3cb0fd;
    text-decoration: none;
}