#sm {
    width: 100%;
    background-color: #589ADA;
    position: relative;
    margin:0;
    text-align: center;
    min-height:180px;
    padding: 50px 0;
    border:none;
}
#sm h2 {
    font-family: Arial, sans-serif;
    color:#fff;
    border:none;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
}
#sm p {
    font-family: Arial, sans-serif;
    color:#fff;
    border:none;
    font-style: normal;
    margin:20px 80px;
    background-color: transparent;
    line-height: 1.8;
}

.btn {
    background-color: #3498db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin:5px;
    border: solid 1px #2f87bd;
    text-decoration: none;
}

.btn:hover {
    background-color: #3cb0fd;
    text-decoration: none;
}

#btn-sm {
    display: inline-block;
    background-color: #EDF0F3;
    color: #589ADA;
    margin-bottom: 20px;
}
#btn-sm:hover {
    background-color: #fff;
    text-decoration: none;
    border-color: #386FA7;
}
#btn-sm i{
    line-height: 0;
    padding-right: 10px;
    vertical-align: middle;
    color: #589ADA;
    font-size: 20px;
}

#sm div{
    background-color: transparent;
    border:none;
}
#sm div p{
    margin: 10px;
    font-weight: 600;
}
#sm div i{
    vertical-align: middle;
    margin-right: 5px;
}
#sm div a{
    font-family: Arial, sans-serif;
    color: #EDF0F3;
    text-decoration: none;
    margin-right: 10px;
    line-height: 2;
}
#sm div a:hover{
    color: #ffffff;
}