body {
    background-color: #ffd756;
}

div {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    margin: 5px;
    padding: 5px;
}

p {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    margin: 5px;
    padding: 5px;
    font-style: oblique
}

span {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    padding: 5px;
    margin: 5px;
}
section {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    padding: 5px;
    margin: 5px;
    width: 50%;
}