body {
    background-color: white;
}

div {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    margin: 5px;
    padding: 5px;
}

p {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    margin: 5px;
    padding: 5px;
    font-style: oblique;
}

span {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    padding: 5px;
    margin: 5px;
}

section {
    background-color: #ffd756;
    border: solid 1px #ffd756;
    padding: 5px;
    margin: 5px;
    width: 50%;
}
/****************** css logo menu **********************/
#logo {
    width: 150px;
    height: 98px;
    display: inline;
    position: absolute;
    background-color: darkgrey;
    border: solid 1px black;
}
nav {
    position: relative;
    height: 100px;
    width: 1000px;
    background-color: red;
    margin: 0 auto;
}
.navi {
    display: inline-block;
    padding-left: 150px;
    height: 100px;
    width: 850px;
      }
.navi li {
    display: inline-block;
    padding: 20px;
    height: 58px;
    line-height: 58px;
    width: 128px;
    border: solid 1px black;
    text-align: center;
    float:left;
    background-color: #386FA7;
}
/****************** css logo menu **********************/
/****************** css zajawki **********************/
.zajawka {
    background-color: #192a27;
    background-image: url("../images/zajawka.jpg");
    background-position: right;
    background-repeat: no-repeat;
    width: auto;
    height: 960px;
    color: #EDF0F3;

}

#tekst_zajawki {
    background-color: transparent;
    position: relative;
    top: 40%;
    margin-left: 10%;
    max-width: 700px;
    border: solid 1px #ffd756;
    padding: 20px;
}

#tekst_zajawki p {
    border: 0;
    background-color: rgba(255,0,255,0.08);
}

/*************** formularz ***************************/
.formularz {
    display: none;
}

/****************** css zajawki **********************/

.utilities {
    background-color: white;
    border-color: white;
}

.utilities1 {
    position: relative;
    width: 30%;
    margin: auto;
    background-color: white;
    border-color: white;
}

.utilities2 {
    position: relative;
    width: 30%;
    margin: auto;
    background-color: white;
    border-color: white;
}

.utilities3 {
    position: relative;
    width: 30%;
    margin: auto;
    background-color: white;
    border-color: white;

}

div p {
    background-color: inherit;
    border-color: inherit;
}
footer {
    clear:both;
    text-align:center;
    padding:5px;
}

div .txt {
    width: 50%;
float: left;
background-color: transparent;
    border-color: transparent;
}

div .photo {
   /*align: right*/
    margin-left: 50%;
    /*width: 10%;*/
    background-color: transparent;
    border-color: transparent;
}
